.para {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1rem;
}

.title {
    transition: 2s;
}

.title:hover {
    transform: scale(1.05);
}