@import "tailwindcss";


@theme {
    /* Doubt : @theme import working in index.css but not working in Dash.css */
    --font-dot: "Bitcount Prop Single", system-ui;
    --text-10xl: 6.75rem;
    --font-ig: "Playwrite NO", system-ui;
    --font-form: "Science Gothic", system-ui;
    --font-dform: "Montserrat", system-ui;
}